{%extends 'base.html'%}

<!--  -->
{%block title%} Login {%endblock%}

<!--  -->
{%style block%}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/login.css') }}"
/>
{%endblock%}

<!--  -->
{%style content%}
<div class="container">
  <div class="bkg-container">
    <img
      class="bkg-image"
      src="{{ url_for('static', filename='img/mg-bkg.jpeg')}}"
      alt="MagicPost's login page background image"
    />
  </div>

  <div class="login-container">
    <p class="login-greetings">
      <em>
        <strong style="font-size: 2rem">MagicPost</strong>, The best delivery
      </em>
      <em>company in the world</em>
    </p>

    <img
      class="login-logo"
      src="{{ url_for('static', filename='img/mg-logo.png')}}"
      alt="MagicPost's Login panel logo"
    />

    <p class="login-title">
      <strong>Login</strong>
    </p>

    <form
      method="post"
      class="login-form"
    >
      <label for="username">Username</label>
      <input
        type="text"
        name="username"
        id="username"
        required
      />

      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        required
      />

      <input
        type="submit"
        value="Delivery!"
      />

      <p class="login-err hide"></p>
    </form>
  </div>
</div>
{%endblock%}

<!--  -->
{%block script%}
<script>
  $(document).ready(function () {
    //
    $("form").on("submit", function (e) {
      $.ajax({
        url: "{{ url_for('auth.login') }}",
        type: "POST",
        data: {
          username: $("#username").val(),
          password: $("#password").val(),
        },
        success: function (res, status) {
          if ("error" in res) {
            $(".login-err").text(res["error"]);
            $(".login-err").show();
          } else {
            $(".login-err").hide();
          }
        },
        error: function (res, status) {
          console.error(status, res);
        },
      });

      e.preventDefault();
    });
  });
</script>
{%endblock%}
