{%extends 'base.html'%}

<!--  -->
{%block title%} Dashboard {%endblock%}

<!--  -->
{%block style%}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/dashboard.css') }}"
/>
{%endblock%}

<!--  -->
{%block content}

<div>
  <header class="dashboard-header">
    <p class="dashboard-text-logo">
      <strong><em>MagicPost</em></strong>
    </p>

    <div>
      <p class="dashboard-welcome">Welcome,</p>
      <p class="dashboard-user">{{ g.user['name']}}</p>
    </div>
  </header>

  {%block dashboard%}{%endblock}
</div>
{%endblock%}
