/*

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

Font weights: Default: 400

Line heights: Default: 1

Primary color: #FF8434
Greys: #222

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; best practices, easiest to do calculation */

  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400;
}

.dashboard-header {
  width: 100vw;
  height: 40px;
  background-color: #ff8434;

  display: flex;
  justify-content: space-between; /* trick to align 2 ways in 1 line */
  align-items: center;
}

.dashboard-text-logo {
  font-size: 2.4rem;
  margin-left: 1.5rem;
}

.dashboard-welcome {
  display: inline-block;
  font-size: 1.4rem;
}

.dashboard-user {
  display: inline-block;
  font-size: 1.8rem;
}

.dashboard-container {
  display: flex;
}

.dashboard-nav {
  width: 200px;
  height: 100vh;
  background-color: #ffc078;

  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

.dashboard-nav a:link,
.dashboard-nav a:visited {
  display: block; /* allow margin top bot */

  font-size: 1.8rem;
  padding: 1.5rem;
  color: blue;

  text-decoration: none;
}

.dashboard-nav a:hover,
.dashboard-nav a:active {
  background-color: #fd7e14;
}

.lv1 {
  background-color: #ff8434;
}

.lv2 {
  background-color: #ffc078;
}

.hide {
  display: none !important;
}

.active {
  background-color: #fd7e14;
}
