<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Dashboard - Magic Post</title>
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&family=Pinyon+Script:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="../static/css/dashboard.css"
    />
  </head>
  <body>
    <header class="dashboard-header">
      <p class="dashboard-text-logo">
        <strong><em>MagicPost</em></strong>
      </p>

      <div>
        <p class="dashboard-welcome">Welcome,</p>
        <p class="dashboard-user">{{ g.user['username']}}</p>
      </div>
    </header>

    <div class="dashboard-container">
      <nav class="dashboard-nav">
        <a
          class="lv1 mng-p"
          href="#"
          >Manage Points</a
        >
        <a
          class="lv2 mng-tp hide"
          href="#"
          >Manage Trading Points</a
        >
        <a
          class="lv2 mng-cp hide"
          href="#"
          >Manage Consolidation Points</a
        >

        <a
          class="lv1 mng-acc"
          href="#"
          >Manage Senior Accounts</a
        >
        <a
          class="lv2 mng-se-tp-acc hide"
          href="#"
          >Manage Senior Trading Points accounts</a
        >
        <a
          class="lv2 mng-se-cp-acc hide"
          href="#"
          >Manage Senior Consolidation Points accounts</a
        >

        <a
          class="lv1 busi-stat"
          href="#"
          >Business Statistics</a
        >
      </nav>

      <section class="dashboard-content"></section>
    </div>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      $(".mng-p").on("click", function () {
        $(".mng-p").toggleClass("active");
        $(".mng-tp").toggleClass("hide");
        $(".mng-cp").toggleClass("hide");
      });

      $(".mng-acc").on("click", function () {
        $(".mng-acc").toggleClass("active");
        $(".mng-se-tp-acc").toggleClass("hide");
        $(".mng-se-cp-acc").toggleClass("hide");
      });

      $(".busi-stat").on("click", function () {});
    });
  </script>
</html>
